/* style.css */
:root {
    --main-color: #1ABC9C;
    --text-color-dark: #000;
    --text-color-light: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    text-align: center;
    font-family: "맑은 고딕", sans-serif;
}

header {
    width: 100%;
    background-color: var(--main-color);
    /* x | y | blur | color */
    box-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

header a {
    text-decoration: none;
    color: var(--text-color-light);
}

header h1 {
    /* outline: 1px solid red; */
    padding: 11px;
    font-size: 24px;
    font-weight: normal;
}

/* nav 버튼 */
header nav {
    display: flex;
}
header nav a {
    /* outline: 1px solid #333; */
    display: block;

    /* width: 33.33%; */
    /* calc(계산식) */
    width: calc(100% / 3);
    padding: 10px;
}

header nav a.active { border-bottom: 3px solid #fff; }

section.main {
    padding: 20px 15px;
}

section.main h2 {
    margin-bottom: 20px;
}

section.main .animal-list {
    display: flex;
    flex-wrap: wrap;
}

section.main .animal-list .item {
    width: 50%;
    margin-bottom: 20px;
}

/* 홀수 item 우측 마진 */
section.main .animal-list .item:nth-child(odd) {
    /* border: 2px solid red; */
    padding-right: 7.5px;
}

/* 짝수 item 좌측 마진 */
section.main .animal-list .item:nth-child(even) {
    /* border: 2px solid blue; */
    padding-left: 7.5px;
}

section.main .animal-list .item img {
    width: 100%;
}